body{
    margin: 0 0 0 0;
}

.main-menu-div{
    background-color: #9ED8DB;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}

.main-menu-div-button{
    text-decoration: none;
    color: #1D3354;
    font-size: 30pt;
}

.main-menu-div-button:hover{
    color: rgb(255, 0, 0);
}

.main-menu-div-button-container{
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
}

.main-menu-div-button-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 100px;
}

.menu-button{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 15pt;
}

.menu-button:hover{
    color: red;
}

.main-body{
    /* background-color: #1D3354; */
}

.title{
    font-size: 30pt;
    text-align: center;
    color: #192A48;
}

.description{
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
}

